.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .counter {
        display: flex;
        align-items: center;
        gap: 1rem;

        user-select: none;

        h1 {
            font-size: 2rem;
            text-align: center;
            font-weight: 600;
            color: #FFF;
            
            min-width: 3.2rem;

            background-color: #000000;
            
            z-index: 5;
            cursor: default;
        }

        button {
            height: 2.5rem;
            aspect-ratio: 1;

            outline: none;
            border: none;

            background-color: #FFF;

            font-size: 1.25rem;
            font-weight: 800;

            cursor: pointer;
        }
    }
}