@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@font-face {
  font-family: 'WalkerKnight';
  src: url('./assets/fonts/Walker Knight.ttf');
  font-weight: 400;
}

h1 {
  font-size: 130px;
}

h2 {
  font-size: 80px;
  line-height: 68px;
}

h3 {
  font-size: 60px;
  line-height: 56px;
}

h4 {
  font-size: 40px;
}

p {
  font-size: 32px;
}

button {
  font-size: 40px;
}

.info-text {
  font-family: 'Slabo 13px', serif;
}

.link {
  svg {
    transition: all 0.3s ease-in-out;
  }

  div {
    button {
      transition: all 0.3s ease-in-out;
    }
  }
}

.link:hover {
  svg {
    opacity: 1 !important;
  }

  div {
    button {
      color: black !important;
    }
  }
}


@media (max-width: $md) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 60px;
    line-height: 68px;
  }
  h3 {
    font-size: 38px;
    line-height: 40px;
  }
  .text {
    font-size: 24px !important;
  }
  .connect {
    width: 210px !important;
  }
  .progress {
    width: 135px !important;
  }
  .infoCover {
    top: 120px !important;
    height: 70vh !important;
  }
}

.black{
  svg> path{
    fill: black;
  }
}

button.w3m-icon-right{
  background-color: red !important;
}

html,
body {
  overscroll-behavior-y: none;
}

.hover {
  transition: all 0.2s ease-in-out;
}

.hover:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  font-family: 'WalkerKnight';
  font-style: normal;
  color: black;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.loading {
  display: flex;
  align-items: center;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1.5s infinite;
  animation: ellipsis steps(4, end) 1.5s infinite;
  content: "...";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 0.45em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 0.45em;
  }
}

.progress {
  width: 230px;
}

.connect {
  width: 330px;
}

.animation{
  animation: smooth 1s linear forwards ;
  opacity: 1;
}

@keyframes smooth {
  from {opacity: 0}
  to {opacity: 1;}

}

.cover {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;

  > div {
    z-index: 10;
  }
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.abs-center-y {
  position: absolute;
  top: 50%;
  transform: translateT(-50%);
}

.hide-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
}

.blackout-gradient {
  background: radial-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 80%);

  &.off {
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1) 60%);
  }
}

.radial-shadow {
  background: radial-gradient(rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 70%);
}

.clip-circle {
  clip-path: circle(50% at 50% 50%);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollbar-hide::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}
