.connect-screen {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background-color: hsl(0, 0%, 95%);

  .connect-container {
    display: grid;
    justify-items: center;
    gap: 1rem;
  }
}

.app {
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  header {
    width: 100%;
    height: 4rem;
    padding: 0rem 1rem;

    display: flex;
    align-items: center;
  }

  .main {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mint-container {
    background-color: #FFF;
    padding: 0rem 2rem;

    outline: 4px double #000;
    width: 40rem;

    display: grid;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 1.5rem 0rem;

      &:not(:last-of-type) {
        border-bottom: 2px dashed #000;
      }

      h2 {
        line-height: 1;  
        span {
          font-size: 1rem;
          font-weight: 500;
        }
      } 
    }

    .ravendale-container, .claim-container {
      align-items: flex-start;
      .token-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;

        .token {
          border: 3px solid #000000;
          aspect-ratio: 1;
          padding: 0.25rem;

          font-weight: 500;

          display: grid;
          place-content: center;

          cursor: pointer;
        }

        #locked {
          cursor: not-allowed;
          border-color: red;
          color: red;
          opacity: 0.65;
        }

        #selected {
          background: #000;
          border-color: #000000;
          color: #00ff4c;
        }
      }
    }

    .total-mints {
      flex-direction: column;
      padding: 0.75rem 0rem;

      p {
        text-align: center;
        font-size: 1rem;
        font-weight: 800;
      }
    }

    .btn-container {
      justify-content: center;

      button {
        outline: none;

        border: 3px solid rgb(0, 0, 0);
        background: #FFF;
        padding: 0.5rem 2rem;
        cursor: pointer;

        font-weight: 600;
      }
    }
  }
}